body {
  font-family: 'Courier New', monospace;
}
* {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}
li {
  margin-left: 1em;
}
#intro, #education, #experience, #projects, #footer {
  padding: 10px;
}
#intro, #education, #experience, #projects {
  border-bottom: 1px solid white;
}
.links {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}