@use 'theme';

body {
  font-family: 'Courier New', monospace;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: theme.$background;
  color: theme.$primary;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

a {
  color: theme.$highlight;
  &:hover {
    color: theme.$secondary;
  }
}

svg {
  height: 1em;
}